* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;

  color: #e0c95e;
}

body {
  background-color: #6853ab;

  width: 100vw;

  margin: 3rem auto;
}

main {
  padding: 1.6rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.4rem;

  text-align: center;

  margin-bottom: 1.6rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.6rem;
}

.title-text {
  position: relative;
  z-index: 5;

  font-size: 2rem;
  font-weight: 600;
  color: #d0ebff;
}

.secret-number {
  font-size: 4rem;
  font-weight: 600;
  color: #e0c95e;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #1e0a5d;

  padding: 0.8rem;
}

label {
  display: block;

  font-size: 2rem;

  margin-bottom: 0.8rem;
}

input {
  font-size: 2.4rem;

  color: #655400;
  background-color: #d0ebff;

  border: none;
  border-radius: 5px;

  width: 22rem;

  padding: 0.4rem 1rem;
  margin-bottom: 0.8rem;
}

input:focus {
  outline: 5px double #1e0a5d;
}

.btns {
  display: flex;
  gap: 1rem;

  margin-bottom: 1rem;
}

.btn {
  font-size: 1.6rem;

  color: inherit;
  background-color: #1e0a5d;

  width: 10rem;

  border: none;
  border-radius: 5px;

  padding: 1rem;

  cursor: pointer;

  transition: 0.3s;
}

.btn:hover {
  color: #1e0a5d;
  background-color: #d0ebff;
}

.message {
  font-size: 1.8rem;
  text-align: center;

  color: #1e0a5d;
  background-color: #d0ebff;

  border-radius: 5px;

  height: 7rem;
  width: 90vw;
  max-width: 45rem;

  padding: 1rem;
  margin: 1rem;
}

h3 {
  font-size: 1.8rem;

  margin-bottom: 1.6rem;
}

ul {
  list-style: none;
}

li {
  font-size: 1.8rem;

  margin-bottom: 0.8rem;
}

.hidden {
  display: none;
}
